body {
    padding: 20px;
    background: white;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
}
* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
    line-height: 1.35;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    white-space: normal;
}
h1 { font-size: 24px; font-weight: bold; }
h2 { font-size: 20px; font-weight: bold; }
h3 { font-size: 16px; font-weight: bold; }
h4 { font-size: 14px; font-weight: bold; }
h5 { font-size: 13px; font-weight: bold; }
h6 { font-size: 12px; font-weight: bold; }
li { margin-left: 20px; }
img { max-width: 100%; }
em { font-style: italic !important; }
strong { font-weight: bold !important; }
a { text-decoration: underline; color: steelblue; }
code, pre { font-family: "Ubuntu Mono", fixed; background: lightgray; padding: 2px; border-radius: 4px; white-space: pre-wrap; }
pre { text-align: left; padding: 10px; }
body { counter-reset: h1; }
h1   { counter-reset: h2; }
h2   { counter-reset: h3; }
h3   { counter-reset: h4; }
h4   { counter-reset: h5; }
h5   { counter-reset: h6; }
h1:before {counter-increment: h1; content: counter(h1) " - "; }
h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) " - "; }
h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) " - ";}
h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " - "; }
h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " - "; }
h6:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " - "; }
h1.nocount:before, h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none; }
/*
.title { font-size: 42px; font-variant: small-caps; text-align: center; }
.todo { font-size: 16px; padding: 4px; background: yellow; color: red; }
#TOC { border: 1px solid darkgray; background: lightgray; padding: 10px; border-radius: 5px; }
#TOC:before { content: "Table Of Contents :"; display: block; font-weight: bold; color: gray;  }
*/
