[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "libQtQmlTricks/SmartDataModels"]
	path = libQtQmlTricks/SmartDataModels
	url = ../../qt-qml-tricks/qt-qml-models.git
[submodule "libQtQmlTricks/SuperMacros"]
	path = libQtQmlTricks/SuperMacros
	url = ../../qt-qml-tricks/qt-supermacros.git
[submodule "libQtQmlTricks/UiElements"]
	path = libQtQmlTricks/UiElements
	url = ../../qt-qml-tricks/qt-quick-ui-elements.git
